# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Django
db.sqlite3
staticfiles/

# Vue build output
static/vue/

# Image uploads
media/

# Environment variables
.env

.DS_Store

*.csv
*.txt

*.pth
*.json
!frontend/src/mocks/*.json
