# Python
__pycache__/
*.pyc
*.pyo

#yolo seed model
*.pt

# Virtual environment
.venv/

# Images and labels
data/seed/train/
data/seed/val/

# Jupyter notebook checkpoints
data/seed/.ipynb_checkpoints/
ml-pipelines/notebooks/seed-counting/.ipynb_checkpoints/

# YOLO outputs
runs/
sahi_results/

# Django
db.sqlite3
staticfiles/

# Vue build output
static/vue/

# Environment variables
.env

.DS_Store

*.csv
*.txt

*.pth